<div class="container">
  <div class="row central-row">
    <div class="col-xs-12 col-sm-8 statistics-col">
      <div class="container statistics-col_earnings">
        <div class="row">
          <div class="col-4 d-none d-sm-block">
            <div>EARNINGS</div>
            <div>$ 2289.32</div>
          </div>
          <div class="col-8">
            <img class="img-fluid" src="assets/img/deals_graphic.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="container statistics-col_employees">
        <div class="card statistics-col_employees__top">
            <div>
              <div>EMPLOYEES</div>
              <div>
                <img src="assets/img/emp.png" class="img-fluid" alt="">
                <span>62</span>
                <div>You're in top 24%</div>
              </div>
            </div>

            <div>
              <div>PROJECTS</div>
              <div>
                <img src="assets/img/proj.png" class="img-fluid" alt="">
                <span>23</span>
                <div>3 in this month</div>
              </div>
            </div>
        </div>
        <div class="row statistics-col_employees__bottom"></div>
      </div>
    </div>
  </div>
  <div class="row hl-row central-row">
    <div class="col-xs-12 col-sm-3 hl-col">
      <app-highlight></app-highlight>
    </div>
    <div class="col-xs-12 col-sm-3 hl-col">
      <app-highlight></app-highlight>
    </div>
    <div class="col-xs-12 col-sm-3 hl-col">
      <app-highlight></app-highlight>
    </div>
    <div class="col-xs-12 col-sm-3 hl-col">
      <app-highlight></app-highlight>
    </div>
    <div class="col-xs-12 col-sm-3 hl-col">
      <app-highlight></app-highlight>
    </div>
  </div>
  <div class="row central-row">
    <div class="col-12"></div>
  </div>
</div>
