@import "src/scss/_variables.scss";

.container {
  $mobileWidth: 340px;
  .grid-sizes {
    width: 100%;
    max-width: 954px;

    @media (max-width: 575.98px) {
      max-width: $mobileWidth;
      margin: 26px auto 0 auto;
    }
  }

  .row {
    .statistics-col {
      &_earnings {
        max-width: 589px;
        width: 100%;

        @media (min-width: 575.98px ) {
          min-height: 240px;
        }

        @media (max-width: 576px) {
          max-height: 354px;
          height: 100%;
        }

        background: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        $leftMargin: 27px;
        $topMargin: 40px;
        .hdr {
          width: 82px;
          height: 17px;
          margin: $topMargin 0 7px $leftMargin;
          @media (max-width: 575.98px) {
            margin-top: 25px;
          }

          font-family: Montserrat, serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;

          /* identical to box height */
          letter-spacing: 0.05em;

          color: #C4C4C4;
        }

        .sum {
          max-width: 120px;
          max-height: 38px;
          margin:  0 0 6px $leftMargin;

          font-family: Roboto, serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 37px;
          color: #484848;
          .fa-dollar {
            display: inline;
            color: #6883E4;
          }
        }

        .last-year {
          font-family: Roboto,serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          margin: 25px 0 7px 27px;

          .comment {
            max-width: 109px;
            max-height: 14px;
            color: #C4C4C4;
          }

          .percent {
            color: #6883E4;
          }
        }

        .image-background {
          position: relative;
          max-width: 324px;
          max-height: 126px;
          height: 100%;
          margin-top: $topMargin;

          @media (max-width: 575.98px) {
            min-height: 140px;
            min-width: 317px;
            margin-top: 30px;
            margin-left: 13px;
          }

          img.base{
            position: absolute;
            max-width: 324px;
            top: 0;
            left: 30px;
          }

          img.cover{
            position: absolute;
            top: 0;
            left: 0;
            opacity: .5;
          }

          @media (max-width: 575.98px) {
            img.base{
              max-width: 245px;
              max-height: 140px;
              top: 0;
              left: 20px;
            }

            img.cover{
              max-height: 135px;
              top: 0;
              left: 0;
              opacity: .5;
            }
          }
        }

        .row {
          .col-12 > .stat-link{
            display: flex;
            a {
              margin: auto auto 23px 27px;
              text-decoration: none;
            }
          }

          &.top {
            height: 200px;
            @media (max-width: 575.98px) {
              max-height: 300px;
              height: 100%;
            }
          }

          &.bottom {
            @media (max-width: 575.98px) {
              max-height: 54px;
              height: 100%;
            }
          }
        }
      }

      &_employees {
        width: 100%;
        max-width: 345px;
        margin-left: auto;

        @media (max-width: 575.98px) {
          margin: 22px auto;
        }
        background: #FFFFFF;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
      }
    }

    div {
      .alert {
        max-width: 954px;
        max-height: 88px;
        background: #6883E4;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 5px;

        .alert-text-wrap {
          padding-top: 10px;

          .alert-warning-msg {
            max-width: 632px;
            max-height: 24px;
            font-family: Montserrat, serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }
          .alert-notice-msg {
            font-family: Montserrat, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
          }
        }
      }
    }

    h3 {
      width: 180px;
      height: 24px;

      font-family: Montserrat, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;

      color: #757575;

    }
  }

  .hl-row {
    margin-top: 26px;

    &.extra-margin {
      @media (min-width: 576px) {
        margin-top: 77px;
      }
    }

    @media (max-width: 575.98px) {
      margin: auto;
      padding: 0;
      .hl-hdr {
        margin-left: 21px;
      }
    }

    .hl-col {
      margin-top: 18px;
      margin-right: 19px;

      @media (max-width: 576px) {
        height: 160px;
      }

      @media (min-width: 576px) {
        max-width: 224px;
        max-height: 191px;

        .container {
          @include highlight-template;
        }

        &:nth-child(5n) {
          margin-right: 0;
        }
      }

      @media (max-width: 576px) {
        margin-top: 22px;
      }
    }

    @media (max-width: 576px) {
      .add-new {
        display: none;
      }
    }
  }

  .table-row {
    margin-top: 30px;

    .table-hdr {
      @media (max-width: 576px) {
        padding: 0;
        margin-left: 34px;
      }
    }
  }

}

